	</div>
    <script>
        $('#toggle').click(function(){
            $('.ui.sidebar').sidebar('toggle');  
        })
    </script>
	<div><p>Powered by: <a href="https://newsapi.org/">newsapi.org</a></p></div>
	<footer>All Rights Reserved. | Developed By: Milek Agrawal</footer>
</body>
</html>