<!DOCTYPE html>
<html>
<head>
	<title>Newsroom</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/newsapp.css">

</head>
<body>
    <div class="ui sidebar inverted vertical left menu ">
        <a class="item"><i class="braille icon"></i> <div class="header">Newsroom</div></a>
        <a class="item" href="/index"><i class="newspaper outline icon"></i> Top Stories</a>
        <a class="item" href="/india"><i class="in flag"></i> India</a>
        <a class="item" href="#"><i class="location arrow icon"></i> Local</a>
        <a class="item" href="/business"><i class="building outline icon"></i> Business</a>
        <a class="item" href="/technology"><i class="microchip icon"></i> Technology</a>
        <a class="item" href="/entertainment"><i class="bullhorn icon"></i> Entertainment</a>
        <a class="item" href="/sports"><i class="volleyball ball icon"></i> Sports</a>
        <a class="item" href="/science"> <i class="cc discover icon"></i> Science</a>
        <button class="ui red button right floated"><i class="user circle outline icon"></i> Login</button>
        <button class="ui red button right floated"><i class="user plus icon"></i> Sign Up</button>
    </div>
    <div class="ui basic icon top fixed menu inverted stackable">
        <a id="toggle" class="item">
            <i class="sidebar icon"></i> Menu
        </a>
        <div class="right item">
            <div class="ui icon input">
                <input type="text" placeholder="Search for topics,location and sources...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
    <div class="pusher">
    <!-- Site content !-->      
        

    
    
    
     